/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 80px 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
    background: url(../images/about-bg.jpg) no-repeat center fixed;
    margin-top: -15px;
}

body{
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 12px;
}


.container {
  padding-left: 10px;
  padding-right: 10px;
}

.container:after {
    clear: all;
}

.align-left {
    float: left;
    clear: left;
}

.align-right {
    float: right;
    clear: right;
}

/* ========== START Collumn Sizing ========== */
.col-xs
.col-s 
.col-ms
.col-m 
.col-ml
.col-l 
.col-xl {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.col-xs {
    width: 25%;
}

.col-s {
    width: 30%;
}

.col-ms {
    width: 40%;
}

.col-m {
    width: 50%;
}

.col-ml {
    width: 55%;
}

.col-l {
    width: 66.66666666%
}

.col-xl {
    width: 75%
}

/* ========== END Collumn Sizing ========== */

/* ========== START Header ========== */
#header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    margin-bottom: 60px;
    padding-top: 10px;
    background-color: rgba(122,156,165,.6);
    
}

nav a:hover, nav a:active {
    color:#F6DE9E;
    -webkit-transition: all 0.15s ease-in-out;
       -moz-transition: all 0.15s ease-in-out;
       -o-transition: all 0.15s ease-in-out;
       -ms-transition: all 0.15s ease-in-out;
       transition: all 0.15s ease-in-out;
}

nav a {
    display: inline-block;
    color: #494964;
    padding-left: 6%;
    padding-right: 6%;
    margin-top: -20px;
    border: none;
    text-decoration: none;
}

header nav ul li {
    display: inline;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 10px;
}
/* ========== END Header ========== */

/* ========== START Button ========== */

#su-button {    
    width: 190px;
    height: 40px;
    right: 20px;
    position: absolute;
    margin: 80px auto;
    padding-top: 4px;
    border-radius: 4px;
    background-color: rgba(122,156,165,.4);
    text-decoration: none;
    color: #F6DE9E;
    font-size: 1.5em;
    text-align: center;
}

#su-button:active, #su-button:hover{
    background-color: #408CD3;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
       transition: all 0.3s ease-in-out;
}

/* ========== END Button ========== */

/* ========== START Title Container ========== */


#title-container {
    height: 600px;
    background-color: rgba(122,156,165,.5);
    clear: top;
}

.title {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    color: #F6DE9E;
    padding-top: 175px;
}

.title h1 {
    font-size: 3em;
}

.title h3 {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 1.35em;
}

.title p {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 1em;
}

/* ========== END Title Container ========== */

/* ========== START About Container ========== */

#about-container {
    background-color: rgba(128,130,133,.6); /* place holder color */
    border-top: 7px solid orange;
}

#about-container div p {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #FFF6DF;
}

/* ========== END About Container ========== */

/* ========== START Speaker Container ========== */
#speaker-container {
    height: 1100px;
    border-top: 7px solid orange;
    background-color: rgba(128,130,133,.6); /* place holder color */
}

#speaker-container .col-s {
    text-align: center;
    margin-bottom: 20px;
    float: left;
    list-style: none;
}

#speaker-container ul p {
    margin-left: 10px;
    margin-right: 10px;
}

.img-circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#speaker-container h3 {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 1.6em;
}

#speaker-container h4 {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 2em;
}

/* ========== END Speaker Container ========== */

/* ========== START Club Container ========== */

#club-container {
    height: 800px;
    border-top: 7px solid orange;
    background-color: rgba(128,130,133,.6); /* place holder color */
}

.club-heading {

    line-height: 1;
    letter-spacing: 4px;
}

.club-logo {
    max-width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* ========== END Club Container ========== */

/* ========== START Footer ========== */

#footer {
    clear: both;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(122,156,165,.6);
}

.soc-media {
    display: inline-block;
    color: #B8B8B8;
    font-size: .6em;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: -20px;
    list-style: none;
}

/* ========== END Footer ========== */

/* ========== START Responsive CSS ========== */

@media only screen and (min-width: 720px) {

    }
    .title h1 {
        font-size: 4em;
    }
    .title h3 {
        font-size: 1.75em;
    }
    .title p {
        font-size: 1.25em;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* 
 * Row class and spacing for speaker list.
 */

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
